.NavbarContainer {
  background-color: var(--blue-light);
  height: 8rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-inline: 6rem;

  position: sticky;
  top: 0;

  z-index: 10;
}

.NavbarContentTitle {
  font-size: 2rem;
  font-weight: bold;
  color: var(--white);
  text-transform: uppercase;
}

.NavbarContentSearch {
  width: 35.6rem;
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 475px) {
  .NavbarContainer {
    padding-inline: 3rem;
  }
}
